@media (max-width: 320px) {
  .ant-progress-circle.ant-progress-status-exception .ant-progress-text {
    color: #ffffff !important;
}
  .animate-this-element {
    animation: fadeinout 2.5s linear forwards;
  }
  .appChat {
    width: 100vw;
    height: 100vh;
  }
  .bodyframe {
    display: flex;
    flex-direction: column;
    height: calc(100% - 28px);
  }
  .container {
    width: 100%;
    position: relative;
    // height: calc(100% - 126px);
    // height: 100%;
    // padding: 8px;
    flex: 1;
    background-color: #ececf7;
    overflow: hidden;
    .chat-content {
      width: 100%;
      height: 100%;
      .send {
        max-width: 216px;
        background-color: #2a2a54;
        color: white;
        padding: 9px 10px;
        word-break: break-word;
        border-radius: 3px;
        white-space: pre-wrap;
        word-break: break-all;
      }
      .reply {
        max-width: 216px;
        background-color: #fff;
        padding: 9px 10px;
        word-break: break-word;
        border-radius: 3px;
        white-space: pre-wrap;
        word-break: break-all;
      }
    }
  }
  .header {
    font-family: 'PentorcorporateHead';
    position: relative;
    width: 100%;
    height: 45px;
    background-color: #2a2a54;
    display: flex;
    align-items: center;
    justify-content: center;
    h1 {
      font-size: 16px;
      font-weight: 700;
      margin: 0;
      color: #ffffff;
    }
    .close-position {
      display: flex;
      position: fixed;
      right: 14px;
      top: 16px;
      .close-icon {
        width: 13px;
        height: 13px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
      }
    }
  }
  .footer {
    // font-family: 'PentorcorporateBody';
    background-color: #ffffff;
    padding: 10px 10.5px;
    border-top: 1px solid #c2c2c2;
    // height: 53px;
    .inputMessage {
      display: flex;
      width: 100%;
      align-items: center;
      // height: 53px;
      // min-height: 53px;
      // max-height: 87px;
      .icon-space {
        flex: 1;
        display: flex;
        padding-left: 10px;
        justify-content: space-between;
        .icon-action {
          width: 26px;
          height: 26px;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
      .text-space {
        width: 203px;
        textarea {
          max-height: 67px;
          min-height: 33px;
          width: 100%;
          resize: none;
          padding: 9px;
          box-sizing: border-box;
          font-size: 15px;
          overflow: hidden;
          overflow-wrap: break-word;
          height: 33px;
          outline: 0;
          border-radius: 2px;
          background-color: #f2f2f2;
          border: 1px solid #e2e2e2;
        }
      }
    }
    .powerByGoochat {
      height: 28px;
      width: 100%;
      position: fixed;
      bottom: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #ffffff;
      .hoverPowered {
        width: 95%;
        border-radius: 10px;
        text-align: center;
        &:hover {
          background-color: #f7f7f9;
          border-radius: 10px;
        }
      }
      img {
        height: 19px;
      }
    }
  }
}
@media (max-width: 100px) {
  .container-toggle-icon {
    width: 80px;
    height: 80px;
    padding: 10px !important;
  }
  .header {
    display: none;
  }
  .unread-count {
    position: absolute !important;
    right: 0 !important;
    top: 0 !important;
    width: auto !important;
    border: 1px solid red !important;
    background-color: red !important;
    color: white !important;
    padding: 1px 8px !important;
    line-height: 1.5 !important;
    border-radius: 50px !important;
    margin-top: 3px !important;
  }
}
@keyframes fadeinout {
  0%,
  100% {
    opacity: 0;
  }
  10%,
  90% {
    opacity: 1;
  }
}
